/*
CSS - Requisitos de estilização:
1. O fundo da página deve ter uma cor suave.
2. O título (<h1>) deve ter uma cor diferente e estar centralizado.
3. O parágrafo (<p>) deve ter um tamanho de fonte maior e ser justificado.
4. A lista (<ul>) deve ter um espaçamento maior entre os itens.
5. A imagem (<img>)deve ter bordas arredondadas e um tamanho adequado.
*/
body {
    background-color: #c2f7dc; /* Cor suave para o fundo */
}

h1 {
    color: darkgreen; /* Cor diferente para o título */
    text-align: center; /* Centraliza o título */
    font-size: 50px;
    font-family: Georgia, serif;
}

p {
    font-size: 20px; /* Tamanho de fonte maior para o parágrafo */
    text-align: justify; /* Justifica o texto do parágrafo */
    font-family: Arial, sans-serif;
}

ul {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

ul li {
    margin: 10px; /* Espaçamento maior entre a lista e o título da lista */
    padding: 5px; /* Espaçamento interno para os itens da lista */
}

img.fut {
    border-radius: 15px; /* Bordas arredondadas para a imagem */
    width: 300px; /* Tamanho adequado para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem seja tratada como um bloco */
    margin: 0 auto; /* Centraliza a imagem na página */
    border-style: double; /* Borda dupla para a imagem */
    border-width: 8px; /* Largura da borda */
}

button {
    display: block; /* Exibe o botão como um bloco */
    margin: 20px auto; /* Centraliza o botão com margem */
    padding: 10px; /* Espaçamento interno do botão */
    font-size: 20px; /* Tamanho da fonte do botão */
    background-color: #6ace6d; /* Cor de fundo do botão */
    font-weight: bold; /* Negrito para o texto do botão */
    border-radius: 10px; /* Bordas arredondadas para o botão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    border-style: outset; /* Estilo de borda do botão */
    border-width: 5px; /* Largura da borda */
    border-color: #6ace6d; /* Cor da borda do botão */
}

p2 {
    font-size: 30px; /* Tamanho de fonte maior para o segundo parágrafo */
    text-align: justify; /* Justifica o texto do segundo parágrafo */
    font-family: Arial, sans-serif;
    display: block; /* Exibe o segundo parágrafo como um bloco */
    font-weight: bold; /* Negrito para o texto do segundo parágrafo */
    margin: 20px auto; /* Centraliza o segundo parágrafo com margem */
}




